/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/
img{
	width: 100%;
	height: auto;
}

body{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.navigation-side-bar{
	position: fixed;
	padding-left: 20px;
	padding-top: 50px;
	overflow: hidden;
}

.logo{
	width: 190px;
}


.nav li{
	display: block;
	width: 100%;
	margin: 5px 0;
	position: relative;
}

.nav li a{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	
}

.nav li a::after{
	position: absolute;
	top: 10px;
	content: "";
	margin-left: 20px;
    width: 0;
	height: 0px;
	background: #000a52;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    z-index: -1;
}

.nav li a.active::after, .nav li:hover a::after{
	width: 300%;
	height: 3px;
}




.profile-pic img, .circle-profpic img{
	border-radius: 50%;
	padding: 10px;
	border: 1px solid #000;
}

.profile-picture{
	width: 100%;
	position: relative;
}

.dots-top{
	position: absolute;
	top: -217px;
}

.dots-bot{
	position: absolute;
}



.intro h2{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 7px;
	font-size: 4.5rem
}

.intro p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3rem;
}


.social-media{
	margin-top: 50px;
}

.social-media ul li{
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}

.social-media ul li a{
	font-size: 2rem;
	color: #000a52;
	text-decoration: none;

}

.social-media ul li:first-child a{
	font-size: 1.5rem;
}


#typewriter{
	display:inline;
}



#typed-cursor{
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


[data-aos="customAnimation"] {
    opacity: 0;
    margin-left: -550px;  
    transform: rotate(90deg);
    transition-property: opacity, margin-left, transform;
}
[data-aos="customAnimation"].aos-animate {
    opacity: 1;
    margin-left: 0;
    transform: rotate(0);
}


.cv-hire{
	margin-top: 50px;
}

.cv-hire ul li a{
	color: #000a52; 
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}


.cv-hire ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000a52;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.cv-hire ul li a:hover, .cv-hire ul li a:focus, .cv-hire ul li a:active {
  color: white;
  text-decoration: none;
}
.cv-hire ul li a:hover:before, .cv-hire ul li a:focus:before, .cv-hire ul li a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


.about-me h2{
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.about-me h2:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: #000a52;
}


.about-me strong{
	padding-left: 40px;
	font-weight: 500;
}



.about-me p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	line-height: 40px;
}

.about-info ul{
	width: 100%;
}

.about-info i{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	font-size: 1.5rem;
	color: #000a52;
}


.about-info ul li{
	display: block;
	width: 100%;
	margin-bottom: 50px;
}

.about-info ul li h4{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 1.5rem;
}


.about-info ul li:nth-child(4) h4, .about-info ul li:nth-child(4) span.info-icon{
	vertical-align: top;
}

.about-info ul li span.info-con{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3rem;
	margin-left: 40px;
	color: #000;
	width: 300px;
	display:inline-block;
}

.about-info ul li span.info-con a{
	display: inline-block;
	color: #000;
	text-decoration: underline;
}


.skills-set h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 30px;
}

.skills-set h2 i{
	color: #000a52;
	border: 2px solid #000a52;
	padding: 15px;
	border-radius: 50%;
	/* Halve the circle */
	border-bottom-color: transparent;
	border-left-color: transparent;
	/* Rotate the circle */
}

.education  h2 strong{
	display: block;
}

.education{
	margin-top: 50px;
	text-align: center;
}

.skill-title{
	margin-bottom: 15px;
}

.skill-title h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.service-cont{
	margin: 75px 0;
}


.timeline{list-style:none;padding:0 0 20px;position:relative;margin-top:-15px;
}
.timeline:before{top:30px;bottom:25px;position:absolute;content:" ";width:3px;background-color:#ccc;left:25px;margin-right:-1.5px;
}
.timeline>li,.timeline>li>.timeline-panel{margin-bottom:5px;position:relative;
}
.timeline>li:after,.timeline>li:before{content:" ";display:table;
}
.timeline>li:after{clear:both;
}
.timeline>li>.timeline-panel{text-align: left;margin-left:55px;float:left;top:19px;padding:4px 10px 8px 15px;border:1px solid #ccc;border-radius:5px;width:100%;
}
.timeline>li>.timeline-badge{color:#fff;width:36px;height:36px;line-height:36px;font-size:1.2em;text-align:center;position:absolute;top:26px;left:9px;margin-right:-25px;background-color:#fff;z-index:100;border-radius:50%;border:1px solid #d4d4d4;
}
.timeline>li.timeline-inverted>.timeline-panel{float:left;
}
.timeline>li.timeline-inverted>.timeline-panel:before{border-right-width:0;border-left-width:15px;right:-15px;left:auto;
}
.timeline>li.timeline-inverted>.timeline-panel:after{border-right-width:0;border-left-width:14px;right:-14px;left:auto;
}
.timeline-badge.primary{background-color:#2e6da4!important;
}
.timeline-badge.success{background-color:#3f903f!important;
}
.timeline-badge.warning{background-color:#f0ad4e!important;
}
.timeline-badge.danger{background-color:#d9534f!important;
}
.timeline-badge.info{background-color:#5bc0de!important;
}
.timeline-title{margin-top:0;color:inherit;font-size: 1.5rem;
}
.timeline-body>p,.timeline-body>ul{margin-bottom:0;margin-top:0;
}
.timeline-body>p+p{margin-top:5px;
}
.timeline-badge>.glyphicon{margin-right:0px;color:#fff;
}
.timeline-body>h4{margin-bottom:0!important}




	
.timeline-experience{list-style:none;padding:0 0 20px;position:relative;margin-top:-15px;margin-left: 150px;
}
.timeline-experience:before{top:30px;bottom:25px;position:absolute;content:" ";width:3px;background-color:#ccc;left:25px;margin-right:-1.5px;
}
.timeline-experience>li,.timeline-experience>li>.timeline-panel{margin-bottom:5px;position:relative;
}
.timeline-experience>li:after,.timeline-experience>li:before{content:" ";display:table;
}
.timeline-experience>li:after{clear:both;
}
.timeline-experience>li>.timeline-panel{text-align: left;margin-left:55px;float:left;top:19px;padding:4px 10px 8px 15px;border:1px solid #ccc;border-radius:5px;
}
.timeline-experience>li>.timeline-badge{color:#fff;width:36px;height:36px;line-height:36px;font-size:1.2em;text-align:center;position:absolute;top:26px;left:9px;margin-right:-25px;background-color:#fff;z-index:100;border-radius:50%;border:1px solid #d4d4d4;
}
.timeline-experience>li.timeline-inverted>.timeline-panel{float:left;
}
.timeline-experience>li.timeline-inverted>.timeline-panel:before{border-right-width:0;border-left-width:15px;right:-15px;left:auto;
}
.timeline-experience>li.timeline-inverted>.timeline-panel:after{border-right-width:0;border-left-width:14px;right:-14px;left:auto;
}
.timeline-badge.primary{background-color:#2e6da4!important;
}
.timeline-badge.success{background-color:#3f903f!important;
}
.timeline-badge.warning{background-color:#f0ad4e!important;
}
.timeline-badge.danger{background-color:#d9534f!important;
}
.timeline-badge.info{background-color:#5bc0de!important;
}
.timeline-title{margin-top:0;color:inherit;font-size: 1.5rem;
}
.timeline-body>p,.timeline-body>ul{margin-bottom:0;margin-top:0;
}
.timeline-body>p+p{margin-top:5px;
}
.timeline-badge>.glyphicon{margin-right:0px;color:#fff;
}
.timeline-body>h4{margin-bottom:0!important}


.service-cont p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.portfolio-section h2{
	position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    font-weight: 300;
}

.portfolio-section h2:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #000a52;
}

.portfolio-section strong{
	padding-left: 40px;
    font-weight: 500;
}

.portfolio-img{
	position:relative;
 	display:inline-block;
 	width: 100%;
 	overflow: hidden;
	margin: 10px 0;
}

.portfolio-img:after{
	content:'';
	position:absolute;
	left:0; top:0;
	width:100%; height:100%;
	display:inline-block;
	background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%,rgba(0, 0, 0, 0.73) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.portfolio-img img{
	display: block;
	max-width: 100%;
    transition: all 1.0s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.portfolio-img:hover img{
	transform: scale(1.2);
}

.portfolio-img .project-title{
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: #fff;
	z-index: 9999;
	text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.portfolio-img .project-link{
	position: absolute;
	bottom: 20px;
	left: 50px;
	color: #fff;
	z-index: 9999;
	font-size: 2em;
}

.main-nav{
	display: none;
}


.mobile-nav{
	display: block;
	position: fixed;
	width: 100%;
	padding: 20px 0;
	background: #fff;
	z-index: 9999;
}

.mobile-nav img{
	width: 100%;
	margin-left: 50px;
}

.hamburger{
	display: block;
	text-align: right;
	margin-right: 50px;
}

.hamburger a{
	font-size: 24px;
	color: #333;
}


.cv-hire ul li:last-child{
	margin-left: 30px;
}

.startTyper{
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: calc(24px + 6 * ((100vw - 320px) / 680));
    display: inline-block;
}

.intro span.dash{
	width: 10%;
	height: 0.5rem;
	background-color: #000a52;
	display: inline-block;
	position: relative;
	top: -13px;
	margin-right: 1rem;
}
.nav{
	margin-top: 200px;
	width: 200px;
	z-index: 999;
}

.mobile-intro{
	display: none;
}

.about-me{margin-left: 0;}
.skills-set h2{
	text-align: center;
}



/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
	.intro{display: none;}
	.hello-con{
		margin-left: 20px;
	}
	.section1{
		height: 800px;
	}
	.section2{
		padding: 50px 0;
	}
	.mobile-intro{
		display: block;
		margin: 100px 50px 100px 50px;
	}
	.mobile-intro h2{
		font-size: calc(40px + 6 * ((100vw - 320px) / 680));
	}

	.cv-hire ul li{
		display: block;
		margin-bottom: 40px;
	}
	.cv-hire ul li:last-child{
		margin-left: 0px;

	}

	.cv-hire ul li a{
		padding: 10px 20px;
		border: 3px solid #000a52;
		text-transform: uppercase;
	}
	.hello-con{
		margin-left: 20px;
	}
	.startTyper{
	    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.7rem;
	    display: inline-block;
	}

	.about-me{
		margin: 0 0 0 20px;
	}
	.about-info{
		margin-left: 20px;
	}
	.skills-set{
		margin-left: 20px;
	}
	.skills-set h2{
		text-align: center;
	}
	.timeline-experience{
		margin-left: 0px;
	}
	.timeline>li>.timeline-panel{
		width: 80%;
	}
	.timeline-experience>li>.timeline-panel{
		width: 80%;
	}
	.portfolio-section{
		margin: 0 20px;
	}
	.portfolio-section h2{
	    font-size: 2.5rem;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.section1{
		height: 500px;
	}
	.intro{
		display: none;
	}
	.cv-hire ul li{
		display: block;
		margin-bottom: 40px;
	}
	.cv-hire ul li:last-child{
		margin-left: 0px;

	}

	.cv-hire ul li a{
		padding: 10px 20px;
		border: 3px solid #000a52;
		text-transform: uppercase;
	}
	.hello-con{
		margin-left: 20px;
	}
	.startTyper{
	    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.7rem;
	    display: inline-block;
	}
	.mobile-intro{
		display: block;
		margin: 200px 50px 300px 50px;
	}
	.startTyper{
	    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 2rem;
	    display: inline-block;
	}
	.intro span.dash{
		width: 5%;
		height: 0.3rem;
		background-color: #000a52;
		display: inline-block;
		position: relative;
		top: -13px;
		margin-right: 1rem;
	}


	.about-me{
		margin: 0 0 0 50px;
	}
	.about-me h2{
		letter-spacing: 7px;
	    font-size: 2rem;
	    font-weight: 300;
	}
	.about-me p{
		font-size: 1rem;
	}
	.timeline-experience>li>.timeline-panel{
		width: 200px;
	}
	.skills-set h2{
		margin-left: 0px;
	}
	.about-info{
		margin-left: 50px;
	}
	.skills-set{
		margin-left: 50px;
	}
	.timeline-experience{
		margin-left: 0px;
	}
	.timeline-experience>li>.timeline-panel{
		width: 80%;
	}
	.portfolio-section{
		margin: 0 20px;
	}
	.portfolio-section h2{
	    font-size: 3.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.intro {
		display: block;
	    margin: 200px 0 100px 0px;
	}
	.mobile-intro{
		display: none;
	}
	.cv-hire ul li{
		display: block;
		margin-bottom: 40px;
	}
	.cv-hire ul li:last-child{
		margin-left: 0px;

	}

	.cv-hire ul li a{
		padding: 10px 20px;
		border: 3px solid #000a52;
		text-transform: uppercase;
	}
	.hello-con{
		margin-left: 20px;
	}
	.startTyper{
	    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.7rem;
	    display: inline-block;
	}

	.about-me{
		margin: 0 0 0 20px;
	}
	.timeline-experience>li>.timeline-panel{
		width: 400px;
	}
	.hello-con{
		margin-left: 100px;
	}
	.skills-set{
		margin-left: 0px;
	}
	.timeline-experience{
		margin-left: 0px;
	}
	.timeline-experience>li>.timeline-panel{
		width: 80%;
	}
	.portfolio-section h2{
	    font-size: 3.5rem;
	}
	.portfolio-section{
		margin: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.mobile-intro{
		display: none;
	}

	.intro{
		margin: 330px 0 100px 100px;
	}

	.cv-hire ul li{
		display: block;
		margin-bottom: 40px;
	}
	.cv-hire ul li:last-child{
		margin-left: 0px;

	}

	.cv-hire ul li a{
		padding: 10px 20px;
		border: 3px solid #000a52;
		text-transform: uppercase;
	}
	.hello-con{
		margin-left: 20px;
	}
	.startTyper{
	    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.7rem;
	    display: inline-block;
	}
	.about-me{
		margin: 0 0 0 50px;
	}
	.timeline-experience{
		margin-left: 50px;
	}
	.timeline-experience>li>.timeline-panel{
		width: 80%;
	}
	.portfolio-section{
		margin: 0 50px;
	}
	.portfolio-section h2{
	    font-size: 4.5rem;
	}

}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.main-nav{
		display: block;
	}
	.mobile-nav{
		display: none;
	}

	.intro{
		margin: 330px 0 100px 0;
	}

	.section1{
	    height:1000px;
	    width:100%;
	    float:left;
	}

	.section2{
	    padding: 150px 0;
	    height:700px;
	    width:100%;
	    float:left;
	}


	.section{
	    padding-bottom: 150px;
	    height:1000px;
	    width:100%;
	    float:left;
	}


	.section4{
	    padding: 150px 0;
	    height:1000px;
	    width:100%;
	    float:left;
	}
	.cv-hire ul li{
		display: inline-block;
		margin-bottom: 0;
	}
	
	.cv-hire ul li a{
		padding: 15px 30px;
		border: 3px solid #000a52;
		text-transform: uppercase;
	}
	.nav{
		margin-top: 100px;
		width: 200px;
		z-index: 999;
	}

	.about-me{
		margin: 0 0 0 50px;
	}
	.about-me h2{
		letter-spacing: 7px;
	    font-size: 4.2rem;
	    font-weight: 300;
	}
	.about-me p{
		font-size: 1.5rem;
	}
	.timeline-experience>li>.timeline-panel{
		width: 550px;
	}
	.timeline-experience{
		margin-left: 50px;
	}
	.timeline-experience>li>.timeline-panel{
		width: 80%;
	}
	.portfolio-section{
		margin: 0 20px;
	}
	.portfolio-section h2{
		margin-left: 0px;
	    font-size: 4.5rem;
	}
}
